body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #333;
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    /*
    background-image: url("/img/backgroundvers2.jpg");
    */
    background-image: url(https://egochamberpie.github.io/kankyoOngaku/lobackgroundvers2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#strong {
    font-size: 14px;
    display: inline-block;
}

#strongs {
    font-size: 14px;
    display: inline-block;
    margin-top: 2px;
}

h1 {
    margin: 1em 0 0.5em 0;
    text-align: center;
}

p {
    margin: 0 0 2em;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 635px;
    min-width: 300px;
    width: 80vw;
    background-color: rgba(20, 20, 30, 0.8);
    border-radius: 0.3rem;
    padding: 2.5rem;
}

fieldset {
    border: 0;
    margin: auto 0;
    padding: 0px;
}

label {
    display: block;
    margin-bottom: -5px;
}

input {
    margin: 0 0 20px 0;
    padding: 6px 0;
    border-radius: 6px;
    text-align: start;
}

textarea {
    margin: 0 0 20px 0;
    padding: 6px 0;
    border-radius: 2px;
    text-align: start;
    box-sizing: border-box;
    text-indent: 9px;
}

textarea::placeholder {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

input[type="text"],
[type="email"],
[type="number"] {
    width: 100%;
    box-sizing: border-box;
    text-indent: 9px;
}

/*input::placeholder {
    font-size: 13px;
}

textarea::placeholder {
    padding-left: 7px;
}*/

select {
    width: 100%;
    margin: 0 0 20px 0;
    padding: 6px 0;
    border-radius: 4px;
    text-align: start;
    color: grey;
}

#first-option::backdrop {
    color: red;
}

select option {
    color: black;
}
select option:first-child {
    color: grey;
}

#productivity,
#definitely {
    margin-top: 1rem;
}

textarea {
    margin-top: 0.6rem;
    width: 100%;
}

button {
    width: 100%;
    height: 2.45rem;
    background-color: hsla(0, 90%, 100%, 0.8);
}

button:hover {
    cursor: pointer;
    background-color: hsla(0, 90%, 20%, 0.8);
    color: rgb(230, 230, 230);
    border-radius: 2px;
    transform: scale(1.01, 1.01);
    border: 1px;
}

input[type="checkbox"] {
    transform: scale(1.4);
    margin-right: 0.5rem;
    margin-left: 4px;
}

input[type="radio"] {
    transform: scale(1.4);
    margin-right: 0.2rem;
    margin-left: 4px;
}

#checkbox-div,
#radio-div {
    margin-bottom: 20px;
}

#name-section,
#email-section,
#number-section,
#dropdown-section {
    display: flex;
    margin-bottom: 8px;
}
